.modal--chitiet-backtest,
.modal--backtest {
	.modal__body {
	    background-color: #36373f;
	    color: #fff;
	}

	table {

	     th {
	     	background-color: #000;
	     	padding: 5px;
   			border: 1px solid #62666f;
	     }	

	    td {
	    	padding: 5px;
   			border: 1px solid #62666f;
	    }
	}

	.modal__close--btn {
	    right: 30px;
	    position: absolute;
	    top: 30px;
	}
}