.chi-so-item {
	display: flex;
	flex-wrap: wrap;
	& + .chi-so-item {
		padding-top: 15px;
	}
	.ten-san {
		font-weight: bold;
		text-transform: uppercase;
		width: 15%;
	}
	.ten-chi-so {
		display: flex;
		width: 85%;
		.custom-checkbox--1 {
			& + span:before {
				background: transparent;
				border-color: var( --blue );
			}
			&:checked + span:before {
				content: '\f00c';
				background: var( --blue );
			}
		}
		label {
			position: relative;
			width: percentage( 1 / 7 );
		}
		@media ( max-width: 480px ) {
			padding-left: 20px;
			grid-template-columns: repeat( auto-fill, minmax( 70px, 1fr) );
		}
	}
}

.modal--chi-so {
	#set-chi-so-default {
		margin-top: 30px;
	}
	.btn + .btn {
		margin-left: 20px;
	}

	h3 {
		margin-top: 0;
	}
}