.modal--xac-nhan-otp {
	background: rgba(0,0,0,0.3);
	.modal__body {
		width: 500px;
		padding: 0;
	}
	.modal__close {
		background: var( --blue );
		font-size: 12px;
		padding: 5px;
		line-height: 1;
		color: #fff;
		position: static;
	}
}

.xac-nhan-otp__header {
	padding: 10px;
	background: var( --dark-1 );
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.xac-nhan-otp__body {
	padding: 10px;
	input[type="password"] {
		margin-left: 10px;
	}
	button[type="submit"] {
		display: block;
		margin-top: 10px;
	}
}