.bao-cao-tai-san-ps {
	.stock-table {
		margin: 0 20px;
	}
	&.stock-tables__table {
		th {
			padding: 10px;
		}
		td {
			padding: 5px;
			text-align: center;
			white-space: normal;
		}
	}
	.table__body tr td:not(:first-child) {
		text-align: center;
	}
}

.tai-san-ps__header {
	color: #fff;
	width: max-content;
	display: flex;
	padding: 15px 0;
	input, select {
		margin-right: 10px;
		padding: 5px 10px;
	}
	select {
		color: #111;
	}
}
