.bao-cao-lai-lo {
	&.stock-tables__table {
		.custom-scrollbar {
			max-height: 200px;
			overflow-y: auto;
		}
		.lai-lo__header {
			table-layout: unset;
			td {
				padding: 20px 5px;
			}
		}
		th {
			padding: 10px;
			text-align: center;
			white-space: normal;
		}
		td {
			padding: 5px;
			text-align: center;
		}
	}
	.stock-table {
		margin: 0 20px;
	}
}
.lai-lo__header {
	width: 60%;
	input {
		width: 100%;
		padding: 7px 10px;
	}
	select {
		color: #111;
		padding: 7px 10px;
	}
	td {
		border: none;
		text-align: left;
	}
}