.giao-dich-tien {
	.stock-table {
		margin: 0 20px;
	}
	&.stock-tables__table {
		th {
			padding: 10px;
		}
		td {
			padding: 5px;
			text-align: center;
			white-space: normal;
		}
	}
	.table__body tr td:not(:first-child) {
		text-align: center;
	}
	&__header {
		.nav-tab {
			cursor: pointer;
		}
	}
}

.enable-yeu-cau-rut .yeu-cau-rut,
.enable-yeu-cau-nop .yeu-cau-nop {
	z-index: 9999;
	opacity: 1;
	visibility: visible;
}
.yeu-cau {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.6);
	transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
	.yeu-cau__wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
		background: var(--white);
	}
	.yeu-cau__header {
		background: var(--blue);
		padding: 10px 30px;
		color: #fff;
		text-transform: uppercase;
	}
	.yeu-cau__body {
		padding: 10px 30px 30px;
		margin-bottom: 30px;
		tr td:not(:first-child) {
			text-align: left;
		}
	}
	.yeu-cau__close {
		position: absolute;
		bottom: 20px;
		left: 30px;
		cursor: pointer;
		font-size: 18px;
		background: none;
		color: var(--blue);
		border: 1px solid;
		font-weight: 400;
		text-transform: none;
	}
	.yeu-cau__xacnhan {
		position: absolute;
		bottom: 20px;
		right: 30px;
		cursor: pointer;
		font-size: 18px;
		font-weight: 400;
		text-transform: none;
	}
	td {
		padding: 5px;
		white-space: normal;
		background: #fff;
	}
}
.yeu-cau__background {
    width: 100%;
    height: 100%;
}