.qly-lai-lo-ps {
	color: #fff;
	input, select {
		padding: 7px 10px;
	}
	.stock-table {
		display: block;
		padding-top: 30px;
	}
	.lai-lo__header {
		width: max-content;
	}
	.table__body tr td:not(:first-child) {
		text-align: center;
	}
	.page-title {
		color: var(--blue);
		font-size: 28px;
		font-weight: 700;
	}
	.qly-lai-lo-ps__title {
		border-bottom: 1px solid var(--blue);
		padding-bottom: 5px;
		span {
			margin-right: 5px;
		}
	}
}
