.so-lenh-chi-tiet {
	.stock-table {
		margin: 0 20px;
	}
	&.stock-tables__table {
		th {
			padding: 10px;
		}
		td {
			padding: 2px 5px;
			text-align: center;
			white-space: normal;
		}
	}
	.table__body tr td:not(:first-child) {
		text-align: center;
	}
	.table__body {
		.btn--red {
			background: var( --red );
			color: #fff;
		}
		.btn--green {
			background: var( --green-2 );
			color: #fff;
		}
	}

}

.so-lenh__header {
	color: #fff;
	width: 50%;
	.so-lenh__header--top,
	.so-lenh__header--bottom {
		display: flex;
	}
	.so-lenh__header--top {
		width: 50%;
		padding: 15px 0;
		> * {
			margin-right: 10px;
			padding: 5px 10px;
		}
	}
	.so-lenh__header--bottom {
		justify-content: space-between;
		padding-bottom: 15px;
		input {
			margin-right: 3px;
		}
		div {
			display: flex;
			align-items: center;
		}
	}

	select {
		color: #111;
	}
}

.so-lenh__edit {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.6);
	margin: 0;
	width: calc( 100% + 4px);
	height: calc( 100% + 4px);
	transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
	.enable-so-lenh-edit & {
		z-index: 9999;
		opacity: 1;
		visibility: visible;
	}
	.so-lenh__body {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
		background: var(--white);
		padding: 30px;
	}

	.table__body {
		margin-bottom: 10px;
		tr td:not(:first-child) {
			text-align: center;
		}
	}
	.so-lenh__close {
		position: absolute;
		bottom: 5px;
		right: 50%;
		cursor: pointer;
		font-size: 18px;
		background: none;
		color: var(--blue);
		border: 1px solid;
		font-weight: 600;
		text-transform: none;
	}
	th {
		padding: 10px;
		border: 1px solid var(--dark-2);
	}
	td {
		padding: 5px;
		text-align: center;
		white-space: normal;
		border: 1px solid var(--dark-1);
		background: #111111;
	}
}
.so-lenh__background {
    width: 100%;
    height: 100%;
}