.thong-tin-tai-khoan {
	&.stock-tables__table {
		margin: 0 20px;
	}
	#thong-tin-chung {
		td {
			border: none;
			padding: 10px 5px;
		}
		input:not([type=radio]) {
			width: 100%;
		}
		.table-radio {
			display: flex;
			align-items: center;
		}
		.table-radio label {
			margin: 0 5px;
		}
		select {
			color: #2e3440;
		}
	}
	#thiet-lap {
		.table__filter__item {
			padding-top: 10px;
		}
	}
}