#thoa-thuan {
	padding: 0 10px;

	.col-3 {
		flex: 1;
	}
	.col-6 {
		flex: 2;
	}

	th, td {
		overflow: hidden;
		white-space: nowrap;
	}
	td {
		padding: 1px 2px;
	}
	.table__body,
	.header__content {
		display: flex;
		flex-wrap: wrap;
		margin: -30px 0 0 -20px;
		> div {
			padding: 30px 0 0 20px;
		}
	}
	.table__body {
		background: inherit;
	}
	.header__top {
		background: var( --dark-0 );
		padding: 15px 0;
		text-transform: uppercase;
		width: 100%;
	}
}
