.footer-nav-popup {
  width: 316px;
  background: var(--dark-3);
  color: #fff;
  position: fixed;
  right: 0;
  height: calc( 100% - 75px );
  bottom: 26px;
  z-index: 999;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  > div {
    padding: 5px;
  }
  .dropdown {
    background: var(--dark-2);
    padding: 6px 10px;
    width: 141px;
  }

  .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
  }

  .dropdown-menu {
    width: auto;
    right: 0;
  }
}

.footer-nav-popup__body {
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  table {
    position: relative;
    left: -5px;
    right: -5px;
    width: calc(100% + 5px);
    table-layout: fixed;
  }
  thead {
    background: var(--dark-2);
    th {
      text-align: center;
    }
  }
  tbody td {
    padding: 2px 4px;
  }
  th,
  td {
    border: 1px solid var(--dark-1);
  }
}

.footer-nav-popup__bar {
  background: var(--dark-2);
}

.footer-nav-popup__title {
  font-size: 13px;
  font-weight: bold;
  i {
    margin-right: 5px;
  }
}

.footer-nav-popup__header {
  border-bottom: 2px solid var(--dark-1);
}

.footer-nav-popup__close {
  cursor: pointer;
}

@import "so-lenh";
@import "danh-muc";
