.so-lenh-popup {
	*[data-lenh="lenh-trong-ngay"],
	*[data-lenh="lenh-phien-ke-tiep"],
	*[data-lenh="gio-lenh"],
	table[data-lenh="lenh-trong-ngay"],
	table[data-lenh="lenh-phien-ke-tiep"],
	table[data-lenh="gio-lenh"] {
		display: none;
	}
	&.lenh-trong-ngay {
		.so-lenh__kich-hoat {
			display: none;
		}
		*[data-lenh="lenh-trong-ngay"] {
			display: block;
		}
		table[data-lenh="lenh-trong-ngay"] {
			display: table;
		}
	}
	a {
		color: inherit;
	}
	&.lenh-phien-ke-tiep {
		.so-lenh__kich-hoat,
		.so-lenh__table__edit,
		.so-lenh__table__copy {
			display: none;
		}
		*[data-lenh="lenh-phien-ke-tiep"] {
			display: block;
		}
		table[data-lenh="lenh-phien-ke-tiep"] {
			display: table;
		}
	}

	&.gio-lenh {
		.so-lenh__table__edit,
		.so-lenh__table__copy {
			display: none;
		}
		*[data-lenh="gio-lenh"] {
			display: block;
		}
		table[data-lenh="gio-lenh"] {
			display: table;
		}
	}

	.btn {
		text-transform: initial;
	}

	input[type="checkbox"] {
		vertical-align: middle;
	}

	tbody td {
		padding: 2px 1px;
	}

	.footer-nav-popup__footer {
		margin-top: auto;
		background: var( --dark-2 );
		position: relative;
		display: flex;
		padding: 10px 5px;
		table {
			font-size: 10px;
			width: auto;
			& + table {
				margin-left: 70px;
			}
		}
		.footer-nav-popup__footer-close {
			position: absolute;
			top: 2px;
			right: 10px;
			cursor: pointer;
		}
		&.is-minimized {
			.footer-nav-popup__footer-close i:before {
				content: "\f05a";
			}
			table {
				display: none;
			}
		}
	}
}

.so-lenh__table {
	td:first-child {
		text-align: center;
	}
}

.so-lenh {
	&__huy {
		padding: 0 18px;
		margin-right: 5px;
	}

	&__kich-hoat {
		padding: 0 5px;
	}

	&__trang-thai {
		float: left;
		margin-bottom: 5px;
	}

	&__lenh {
		float: right;
	}
	&__table__code span {
		float: right;
	}
	&__table__edit,
	&__table__copy {
		cursor: pointer;
	}
}
