@media screen {
	.bc__section {
		padding: 5px;
	    background: #fff;
	    border-radius: 2px;
	    width: 210mm;
    	height: 297mm;
    	margin: 5px auto;
    	padding: 20px;
		
		p {
			margin: 5px 0px; 
			font-size: 11px;
		}

	    .bc_row {
			display: flex;
	    }

	    .bc__header {
	    	margin-bottom: 5px;

	    	img {
			    width: 65px;
			    margin-left: 15px;
			    margin-bottom: 5px;
			}

	    	table {

		    	td {
		    		border: 1px solid var(--dark-2);
		    		white-space: normal;
		    		padding: 3px;
		    		font-size: 12px;
    				line-height: 10px;

		    		&.first-col {
		    			width: 43%;

		    			.txt-right {
		    				float: right;
		    			}
		    		}

		    		span.ma {
					    font-weight: bold;
					    font-size: 16px;
					}
		    	}

		    	tr:nth-child(2) {
					font-weight: bold;
		    	}
		    }
			
			.bc_row {
			    display: flex;

			    .bc__left {
				    width: 70%;
				}
				.bc__right {
				    width: 30%;
				    padding-left: 2.5px;

				    .bc__left {
					    width: 30%;
					}

					.bc__right {
					    width: 70%;
					    
					}
				}
			}
	    }
		
		.can-nhac-mua {
	    	p {
			    margin: 0;
			}

			h5 {
				margin-top: 8px;
				font-size: 14px;
			}
	    }

	    h2,
		h3,
		h4,
		h5 {
		    margin: 0;
		}

		.number {
	    	text-align: center;
		    font-size: 30px;
		    background: var(--blue-2);
		    display: block;
		    padding: 0px;
		    color: #fff;
	    }

	    .txt-small {
	    	font-size: 10px;
			margin-top: 0px;
	    }

	    .inner {
			margin-top: 2.5px;
		}

	    .bc__content {

	    	.bc_row {
	    		display: flex;
	    		margin-bottom: 2.5px;
	    		justify-content: space-between;

	    		.col-left-30 {
					width: 35%;
				}

				.col-right-70 {
					width: 65%;
					margin-left: 2.5px;

					&.can-nhac-mua p {
					    margin: 0;
					}
				}

				.col-left-70 {
					width: 65%;
				}

				.col-right-30 {
					width: 35%;
					margin-left: 2.5px;
				}

				.col-left-57 {
					width: 57%;
					margin-right: 2.5px;
				}

				.col-right-43 {
					width: 43%;
				}

				.bc-col {
					padding: 2.5px;
				}

				.col-50 {
					width: calc( (100% - 3px) / 2);
				}

				.col-inner {
				    border: 2px solid var(--dark-3);
				}
	    	}

	    	.bc-title {
			    text-transform: uppercase;
			    line-height: 30px;
			    background-color: var(--blue);
			    padding: 0 3px;
			    color: #fff;
			    font-size: 12px;
			}

			.tb-small {
				td {
					font-size: 12px;
				}
			}

			.historical {
				.bieu-do {
					height: 180px;

					img {
						height: 100%;
					}
				}
			}

			.diem {
				table {
					td {
						border: none;
						font-size: 13px;
						padding: 5px;
					}
					p {
						font-size: 12px;
					}
				}
			}

			.bien-dong {
				.bc-col {
					height: 206px;

					img {
						height: 100%;
					}
				}
			}

			.danh-gia-cty {
				height: 250px;

				img {
					height: 100%;
				}
			}

			.tin-tuc {
				height: 494px
			}

			.txt-justify {
				text-align: justify;
			}

			.goc-nhin,
			.ho-so {
				height: 315px;
			}

			.ket-qua {
				.bieu-do {
					height: 144px;

					img {
						height: 100%;
					}
				}
			}

			.ss-cty,
			.top-cd {
				table-layout: fixed;

				th {
					font-weight: bold;
					border: 1px solid var(--dark-2)
				}

				td, 
				th {
					font-size: 11px;
					padding: 3px;
				}
			}

			.tb-chitieu {
				height: 614px;
			}

			.rui-ro {
				p {
					font-size: 13px;
				}
			}
	    }

	    table {

	    	&.tb-chi-tieu,
	    	&.tb-quan-tinh {
	    		background-color: var(--light1);
	    		color: #000;
	    		margin: 0;

	    		td {
	    			border: none;
	    		}

	    		tr {
	    			border-bottom: 1px solid var(--dark-2);

	    			&.tr-heading {
	    				font-weight: 700;
	    				color: #000;
	    			}
	    		}
	    	}

	    	td {
	    		border: 1px solid var(--dark-2);
	    		padding: 5px;
	    		font-size: 11px;
				line-height: 10px;
				padding: 3px;
	    	}
	    }

	    .col-backghround {
	    	background-color: var(--light-1);
	    	padding: 5px;
	    }

	    .thuyet-minh {
	    	padding: 5px;
		    border: 1px solid;

		    ul{
		    	list-style-type: square;
		    	padding-left: 20px;
		    }

		    ol {
		    	list-style-type: decimal;
		    	padding-left: 20px;
		    }

		    p {
				font-size: 12px;
			}
	    }
		
		.mien-trach {
			margin-top: 20px;

			p {
				font-size: 12px;
			}

			ul {
				list-style-type: disc;
				padding-left: 20px;
				margin-left: 20px;
			}
		}
	}
}

@media print {
	.bc__section {
		-webkit-print-color-adjust: exact !important;
		padding: 5px;
	    background: #fff;
	    border-radius: 2px;
	    width: 190mm;
    	height: 287mm;
    	margin: 5px auto;
		
		p {
			margin: 5px 0px; 
			font-size: 11px;
		}

	    .bc_row {
			display: flex;
	    }

	    .bc__header {
	    	margin-bottom: 5px;

	    	img {
			    width: 65px;
			    margin-left: 15px;
			    margin-bottom: 5px;
			}

	    	table {

		    	td {
		    		border: 1px solid var(--dark-2);
		    		white-space: normal;
		    		padding: 3px;
		    		font-size: 12px;
    				line-height: 10px;

		    		&.first-col {
		    			width: 43%;

		    			.txt-right {
		    				float: right;
		    			}
		    		}

		    		span.ma {
					    font-weight: bold;
					    font-size: 16px;
					}
		    	}

		    	tr:nth-child(2) {
					font-weight: bold;
		    	}
		    }
			
			.bc_row {
			    display: flex;

			    .bc__left {
				    width: 70%;
				}
				.bc__right {
				    width: 30%;
				    padding-left: 2.5px;

				    .bc__left {
					    width: 30%;
					}

					.bc__right {
					    width: 70%;
					    
					}
				}
			}
	    }
		
		.can-nhac-mua {
	    	p {
			    margin: 0;
			}

			h5 {
				margin-top: 8px;
				font-size: 14px;
			}
	    }

	    h2,
		h3,
		h4,
		h5 {
		    margin: 0;
		}

		.number {
	    	text-align: center;
		    font-size: 30px;
		    background: var(--blue-2);
		    display: block;
		    padding: 0px;
		    color: #fff;
	    }

	    .txt-small {
	    	font-size: 10px;
			margin-top: 0px;
	    }

	    .inner {
			margin-top: 2.5px;
		}

	    .bc__content {

	    	.bc_row {
	    		display: flex;
	    		margin-bottom: 2.5px;
	    		justify-content: space-between;

	    		.col-left-30 {
					width: 35%;
				}

				.col-right-70 {
					width: 65%;
					margin-left: 2.5px;

					&.can-nhac-mua p {
					    margin: 0;
					}
				}

				.col-left-70 {
					width: 65%;
				}

				.col-right-30 {
					width: 35%;
					margin-left: 2.5px;
				}

				.col-left-57 {
					width: 57%;
					margin-right: 2.5px;
				}

				.col-right-43 {
					width: 43%;
				}

				.bc-col {
					padding: 2.5px;
				}

				.col-50 {
					width: calc( (100% - 3px) / 2);
				}

				.col-inner {
				    border: 2px solid var(--dark-3);
				}
	    	}

	    	.bc-title {
			    text-transform: uppercase;
			    line-height: 30px;
			    background-color: var(--blue);
			    padding: 0 3px;
			    color: #fff;
			    font-size: 12px;
			}

			.tb-small {
				td {
					font-size: 12px;
				}
			}

			.historical {
				.bieu-do {
					height: 180px;

					img {
						height: 100%;
					}
				}
			}

			.diem {
				table {
					td {
						border: none;
						font-size: 13px;
						padding: 5px;
					}
					p {
						font-size: 12px;
					}
				}
			}

			.bien-dong {
				.bc-col {
					height: 206px;

					img {
						height: 100%;
					}
				}
			}

			.danh-gia-cty {
				height: 250px;

				img {
					height: 100%;
				}
			}

			.tin-tuc {
				height: 494px
			}

			.txt-justify {
				text-align: justify;
			}

			.goc-nhin,
			.ho-so {
				height: 315px;
			}

			.ket-qua {
				.bieu-do {
					height: 144px;

					img {
						height: 100%;
					}
				}
			}

			.ss-cty,
			.top-cd {
				table-layout: fixed;

				th {
					font-weight: bold;
					border: 1px solid var(--dark-2)
				}

				td, 
				th {
					font-size: 11px;
					padding: 3px;
				}
			}

			.tb-chitieu {
				height: 614px;
			}

			.rui-ro {
				p {
					font-size: 13px;
				}
			}
	    }

	    table {

	    	&.tb-chi-tieu,
	    	&.tb-quan-tinh {
	    		background-color: var(--light1);
	    		color: #000;
	    		margin: 0;

	    		td {
	    			border: none;
	    		}

	    		tr {
	    			border-bottom: 1px solid var(--dark-2);

	    			&.tr-heading {
	    				font-weight: 700;
	    				color: #000;
	    			}
	    		}
	    	}

	    	td {
	    		border: 1px solid var(--dark-2);
	    		padding: 5px;
	    		font-size: 11px;
				line-height: 10px;
				padding: 3px;
	    	}
	    }

	    .col-backghround {
	    	background-color: var(--light-1);
	    	padding: 5px;
	    }

	    .thuyet-minh {
	    	padding: 5px;
		    border: 1px solid;

		    ul{
		    	list-style-type: square;
		    	padding-left: 20px;
		    }

		    ol {
		    	list-style-type: decimal;
		    	padding-left: 20px;
		    }

		    p {
				font-size: 12px;
			}
	    }
		
		.mien-trach {
			margin-top: 20px;

			p {
				font-size: 12px;
			}

			ul {
				list-style-type: disc;
				padding-left: 20px;
				margin-left: 20px;
			}
		}
	}
}




