.nhan-otp-popup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
    width: calc( 100% + 4px);
    height: calc( 100% + 4px);
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}
.nhan-otp-popup__body {
    max-width: 360px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: var(--white);
    padding: 30px;
    strong {
        font-size: 14px;
    }
    a {
        text-decoration: underline;
        cursor: pointer;
    }
    p {
        margin-bottom: 0;
    }
}
.nhan-otp-popup__background {
    width: 100%;
    height: 100%;
}
.nhan-otp-popup__close {
    cursor: pointer;
    color: var(--dark-1);
    font-size: 18px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 10px;
}
.ma-otp-popup-enable .nhan-otp-popup {
    z-index: 9999;
    opacity: 1;
    visibility: visible;
}

.lay-otp-popup__body {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    max-width: 360px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: var(--white);
    padding: 30px;
}

.lay-ma-otp {
    display: none;
    max-width: 250px;
    width: 90%;
    position: fixed;
    bottom: 7%;
    right: 1%;
    z-index: 10;
    background: var(--white);
    padding: 20px;
    .lay-ma-otp__content {
        margin-bottom: 5px;
    }
}